/infrastructure/db-beautique/*
!/infrastructure/db-beautique/data
/infrastructure/rabbitmq/data/*
/infrastructure/rabbitmq/log/*
!/infrastructure/db-mongodb/data
/infrastructure/db-mongodb/data/*
!**/.gitskip